<p class="notice hidden" data-controller="notification">
    <span class="notice-header">notice</span>
    <span class="notice-body" data-notification-target="body"><%= notice %></span>
</p>
<p class="alert hidden" data-controller="notification">
    <span class="alert-header">alert</span>
    <span class="alert-body" data-notification-target="body"><%= alert %></span>
</p>