<div class="notifications-container">
    <% if notice.present? %>
        <div data-controller="notification">
            <p class="notice">
                <span class="notice-text">
                    <span class="notice-header">notice</span>
                    <span class="notice-body"><%= notice %></span>
                </span>
                <span class="close-notice-container">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        data-action="click->notification#close"
                        class="close-notice"
                        viewBox="0 0 10 10"
                    >
                        <path d="M 2 1 C 1 0 0 1 1 2 L 8 9 C 9 10 10 9 9 8 Z" />
                        <path d="M 8 1 C 9 0 10 1 9 2 L 2 9 C 1 10 0 9 1 8 Z" />
                    </svg>
                </span>
            </p>
        </div>
    <% end %>
    <% if alert.present? %>
        <div data-controller="notification">
            <p class="alert">
                <span class="alert-text">
                    <span class="alert-header">alert</span>
                    <span class="alert-body"><%= alert %></span>
                </span>
                <span class="close-alert-container">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        data-action="click->notification#close"
                        class="close-alert"
                        viewBox="0 0 10 10"
                    >
                        <path d="M 2 1 C 1 0 0 1 1 2 L 8 9 C 9 10 10 9 9 8 Z" />
                        <path d="M 8 1 C 9 0 10 1 9 2 L 2 9 C 1 10 0 9 1 8 Z" />
                    </svg>
                </span>
            </p>
        </div>
    <% end %>
</div>